<div class="flex flex-col w-full pl-0 md:pl-6">
    <div class="overflow-auto bg-card shadow rounded-2xl min-h-180">
        <div [hidden]="editMode">
            <div class="flex items-center justify-end pt-1 pr-1">
                <button mat-icon-button [matTooltip]="'Cerrar'" (click)="closeMenu()">
                    <mat-icon class="text-gray-400" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
            <div class="px-6">
                <div #map id="map" class="h-64 rounded-2xl">
                </div>
            </div>
            <div class="px-6">



            </div>
        </div>
        <div [hidden]="!editMode">


        </div>
    </div>
</div>
