input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
}