<div class="flex flex-col flex-auto w-full">
  <div class="flex flex-wrap w-full mx-auto p-6">
    <!--Title-->
    <div class="relative flex flex-col flex-auto p-4 bg-card rounded-2xl shadow overflow-hidden">
      <div>
        <h2 class="text-3xl font-semibold tracking-tight leading-8">{{ 'controlCenter.tittlepage' | transloco }}</h2>
        <div class="ml-0.5 font-medium text-secondary">
          <ng-container *ngIf="contactsCount > 0">
            {{contactsCount}}
          </ng-container>
          {{contactsCount | i18nPlural: {
          '=0' : 'controlCenter.subtitlepage.contact0',
          '=1' : 'controlCenter.subtitlepage.contact1',
          'other': 'controlCenter.subtitlepage.contacts'
          } | transloco}}
        </div>
      </div>
    </div>
    <div class="flex flex-wrap w-full py-6">
      <div class="w-full overflow-hidden">
        <mat-drawer-container class="flex-auto h-auto md:min-h-180">
          <mat-drawer #drawer [(opened)]="opened" mode="side" position="end"
            class="w-full md:w-128 bg-gray-100 border-none">
            <ng-container *ngIf="opened">
              <app-form-contact></app-form-contact>
            </ng-container>
          </mat-drawer>
          <mat-drawer-content class="bg-card shadow rounded-2xl overflow-hidden">
            <!-- Acciones-->
            <div class="flex flex-col md:flex-row border-b p-6">
              <div class="pb-3 md:pb-0 md:pr-3" *ngIf="showSearchClients">
                <div class="flex border-2 rounded-full p-2" matRipple [matMenuTriggerFor]="MenuClients">
                  <div class="flex items-center">
                    <div class="">
                      <div class="font-medium text-secondary ml-2">
                        <span *ngIf="!ownerSelect">{{'controlCenter.table.ownerSelect'}}</span>
                        <span>{{ownerSelect}}</span>
                      </div>
                    </div>
                    <div class="flex items-center justify-end pl-2">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-down'">
                      </mat-icon>
                    </div>
                  </div>
                  <mat-menu #MenuClients="matMenu">
                    <button (click)="ownerSelect=owner.name;getContactsControlCenter(owner.id)" mat-menu-item
                      *ngFor="let owner of owners">{{owner.name}}
                    </button>
                  </mat-menu>
                </div>
              </div>
              <div class="flex border-2 rounded-full p-2">
                <input class="ml-2" #input matInput [placeholder]="'search' | transloco" (keyup)="filterTable($event)">
                <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_outline:search"></mat-icon>
              </div>
              <div class="pt-3 md:pt-0 md:pl-6">
                <button class="fuse-mat-button-rounded w-full md:w-auto" mat-flat-button [color]="'accent'"
                  (click)="newContact()">
                  <mat-icon class="icon-size-5">add</mat-icon>
                  <span class="ml-2">{{'buttons.buttonAdd' | transloco}}</span>
                </button>
              </div>
            </div>
            <div [hidden]="contactsCount > 0" class="pt-3 w-full h-full items-center justify-center">
              <div class="flex items-center justify-center">
                <div class="text-base font-semibold text-secondary">{{'controlCenter.table.emptyContactList' | transloco}}
                </div>
              </div>
            </div>
            <div [hidden]="contactsCount <= 0">
              <!-- Tabla-->
              <div class="flex flex-col flex-auto sm:mb-18 overflow-y-auto">
                <table mat-table [dataSource]="dataTableContactsControlCenter" matSort class="w-full">
                  <!-- full_name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'controlCenter.table.name' | transloco }} </th>
                    <td mat-cell *matCellDef="let row">
                      <span class="pr-6 whitespace-nowrap">
                        {{row.full_name}} </span>
                    </td>
                  </ng-container>
                  <!-- identification Column -->
                  <ng-container matColumnDef="identification">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'controlCenter.table.identification' | transloco}} </th>
                    <td mat-cell *matCellDef="let row">
                      <span class="pr-6 whitespace-nowrap">
                        {{row.identification}} </span>
                    </td>
                  </ng-container>
                  <!-- type_contacs Column -->
                  <ng-container matColumnDef="type_contacs">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'controlCenter.table.typeOfContact' | transloco}}</th>
                    <td mat-cell *matCellDef="let row">
                      <span class="pr-6 whitespace-nowrap">
                        {{row.type_contact_description}} </span>
                    </td>
                  </ng-container>
                  <!-- address Column -->
                  <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'controlCenter.table.address' | transloco}}</th>
                    <td mat-cell *matCellDef="let row">
                      <span class="pr-6 whitespace-nowrap">
                        {{row.address}} </span>
                    </td>
                  </ng-container>
                  <!-- email Column -->
                  <ng-component matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'controlCenter.table.email' | transloco}} </th>
                    <td mat-cell *matCellDef="let row">
                      <a class="hover:underline text-primary-500 pr-6 whitespace-nowrap" [href]="'mailto:' + row.email"
                        target="_blank">
                        {{row.email}}
                      </a>
                    </td>
                  </ng-component>
                  <!-- phone Column -->
                  <ng-container matColumnDef="cellPhone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'controlCenter.table.cellPhone' | transloco}}</th>
                    <td mat-cell *matCellDef="let row">
                      <span class="pr-6 whitespace-nowrap">
                        {{row.phone}} </span>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="columnsContactsControlCenter"></tr>
                  <tr mat-row (click)="actionsContact(row.id)"
                    *matRowDef="let row; columns: columnsContactsControlCenter;">
                  </tr>
                  <!-- Fila que se muestra cuando no hay datos coincidentes.. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">{{'controlCenter.table.matNoDataRow' | transloco}}
                      "{{input.value}}"
                    </td>
                  </tr>
                </table>
              </div>
              <mat-paginator
                class="sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-t sm:border-b-0 border-b z-10  bg-gray-200"
                [pageSizeOptions]="[5,10]" aria-label="Select page of users">
              </mat-paginator>
            </div>
          </mat-drawer-content>
        </mat-drawer-container>
      </div>
    </div>
  </div>
</div>