<div class="flex flex-col flex-auto w-full">
  <div class="flex flex-wrap w-full mx-auto p-6">

    <!-- Cabecera de la vista -->
    <div class="w-full">
      <app-header-page [title]="this.titlePage" [subTitle]="this.subTitlepage"></app-header-page>
    </div>

    <!-- Contenido principal de la vista -->
    <div class="flex flex-wrap w-full py-6">
      <div class="w-full overflow-hidden">

        <mat-drawer-container class="flex-auto h-auto md:min-h-180">
          <mat-drawer #drawer [(opened)]="opened" mode="side" position="end"
            class="w-full md:w-160 bg-gray-100 border-none">

            <!-- Formulario de perfil -->
            <ng-container *ngIf="opened">
              <app-form-profile [dataUpdate]="this.profileDataUpdate" (emitCloseForm)="this.opened = false"
                [titleForm]="this.titleForm"></app-form-profile>
            </ng-container>
          </mat-drawer>
          <mat-drawer-content class="bg-card shadow rounded-2xl overflow-hidden">

            <!-- Botones y buscador de perfiles -->
            <div class="flex flex-col md:flex-row border-b p-6">
              <div class="flex border-2 rounded-full p-2 ">
                <input #input matInput placeholder="Buscar" (keyup)="filterTable($event)">
                <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_outline:search"></mat-icon>
              </div>
              <div class="pt-3 md:pt-0 md:pl-6">
                <button class="fuse-mat-button-rounded w-full md:w-auto" mat-flat-button [color]="'accent'"
                  (click)="addProfileForm()">
                  <mat-icon class="icon-size-5">add</mat-icon>
                  <span class="ml-2">Agregar perfil</span>
                </button>
              </div>
            </div>

            <!-- Tabla con la infomacion de perfiles -->
            <div>
              <app-table [dataColumn]="this.columnsProfile" [dataRow]="this.profileData"
                [dataOptionTable]="this.optionsTable" [dataFilter]="this.dataFilter"
                (emitSelectRow)="this.actionSelectTable($event)">
              </app-table>
            </div>
          </mat-drawer-content>
        </mat-drawer-container>
      </div>
    </div>
  </div>

</div>