.commands-plate {
    position: fixed;
    right: 0px;
    background: #ffffff;
    z-index: 500;
    width: 467px;
    height: 1141px;
    z-index: 999;
    padding: 10px;

    .title-historic {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 700;
            color: #2c384f;
        }

        .close {
            padding: 10px 30px;
            cursor: pointer;
        }
    }

    .plate {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        color: #2c384f;
    }

    .commands {
        margin-top: 10px;

        .send-commands {
            display: flex;
        }
    }

    .list-commands {
        .title-list {
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 700;
            color: #2c384f;
        }

        .item-list {
            padding: 20px 10px;
            border-bottom: 1px solid rgba(192, 192, 192, 0.4);
            width: 95%;
            margin: auto;

            .header-item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .description {
                    line-height: 20px;

                    label {
                        font-size: 18px;
                        font-weight: 500;
                        color: #2c384f;
                    }
                }

                img {
                    width: 120px !important;
                }
            }
        }
    }
}
