<mat-dialog-content>
    <div class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-8 pb-6 sm:pb-8">
        <mat-divider></mat-divider>
        <div class="flex flex-wrap items-center sm:items-start mt-4 sm:mt-0 sm:pr-8 space-y-1 text-center sm:text-left ng-star-inserted">
            <div class="flex-grow w-4 border-bg-green">

            </div>
            <div class="flex-grow w-8">
                <div class="flex-auto">

                </div>
            </div>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex flex-row items-center justify-end sm:justify-end px-6 py-4 space-x-3 dark:bg-black dark:bg-opacity-10 w-full">
        <button
            class="w-1/4"
            mat-raised-button
            >
<!--            {{dataView?.textCancelButton ? dataView?.textCancelButton : 'Cancelar'}}-->
            Cancelar
        </button>
        <button
            class="w-1/5"
            mat-raised-button
            color="primary"
            >Seleccionar
        </button>
    </div>
</mat-dialog-actions>
