<div class="flex flex-col w-full pl-0 md:pl-6">
  <div class="bg-card shadow rounded-2xl min-h-auto">
    <div class="rounded-t-2xl relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-gray-200">
      <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
        <button mat-icon-button [matTooltip]="'Cerrar'" (click)="closeMenu()">
          <mat-icon class="text-gray-400" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
      </div>
    </div>
    <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
      <div class="w-full max-w-3xl">
        <!-- Avatar and actions -->
        <div [hidden]="editMode">
          <ng-container>
            <div class="flex flex-auto items-end -mt-16">
              <!-- Avatar -->
              <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                <div
                  class="flex items-center justify-center w-full h-full rounded overflow-hidden text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                  <mat-icon class="icon-size-14">local_shipping</mat-icon>
                </div>
              </div>
              <!-- Actions -->
              <div class="flex items-center ml-auto mb-1">
                <button mat-stroked-button (click)="editMode = true;">
                  <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                  <span class="ml-2">Editar</span>
                </button>
              </div>
            </div>
            <div class="mt-3 text-4xl font-bold truncate">{{fleets['name']}}</div>
            <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
              <ng-container *ngIf="fleets['description']">
                <div class="flex sm:items-center">
                  <mat-icon [matTooltip]="'Descripción'" svgIcon="heroicons_solid:menu-alt-2">
                  </mat-icon>
                  <div class="ml-6 leading-6">{{fleets['description']}}</div>
                </div>
              </ng-container>
              <ng-container *ngIf="fleetsPlate">
                <div class="sm:items-center">
                  <mat-icon [matTooltip]="'Vehículos'">local_shipping</mat-icon>
                  <mat-list *ngFor="let x of fleetsPlate">
                    <mat-list-item role="listitem">{{x.plate}}</mat-list-item>
                  </mat-list>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div [hidden]="!editMode">
          <ng-container>
            <form [formGroup]="fleetForm" class="flex flex-col gap-2 pt-6">
              <mat-form-field class="w-full fuse-mat-dense">
                <mat-label>Nombre de la flota</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5">label</mat-icon>
                <input matInput [formControlName]="'name'" [placeholder]="'Nombre de la flota'" required>
              </mat-form-field>

              <div class="flex flex-col gap-1">
                <mat-label>Seleccione Vehiculos</mat-label>
                <app-multi-select-filter [form]="this.fleetForm" [placeholder]="'Seleccione vehiculos'"
                  [options]="{data:this.mobiles, key:'plate_id', keyView:'plate'}" labelControl="plates">
                </app-multi-select-filter>
              </div>

              <mat-form-field class="w-full fuse-mat-dense">
                <mat-label>Descripción</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" svgIcon="heroicons_solid:menu-alt-2">
                </mat-icon>
                <textarea [formControlName]="'description'" placeholder="Descripción" matInput
                  matTextareaAutosize></textarea>
              </mat-form-field>

              <div class="flex pt-3">
                <!-- Eliminar -->
                <button *ngIf="fleets['id']" mat-button [color]="'warn'" [matTooltip]="'Eliminar'"
                  (click)="deleteContact(fleets['id'])">
                  <span>
                    Eliminar
                  </span>

                </button>
                <!-- Cancelar -->
                <button class="ml-auto" mat-button [matTooltip]="'Cancelar'" (click)="editMode = false">
                  Cancelar
                </button>
                <!-- Guardar -->
                <button class="ml-2" mat-flat-button [color]="'accent'"
                  [disabled]="fleetForm.invalid || fleetForm.disabled" [matTooltip]="'Guardar'" (click)="onSave()">
                  <span *ngIf="!fleetForm.disabled">
                    Guardar
                  </span>
                  <mat-progress-spinner *ngIf="fleetForm.disabled" [diameter]="24" mode="indeterminate">
                  </mat-progress-spinner>
                </button>
              </div>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>