<div class="content-geotools">
    <div class="relative flex overflow-hidden border mt-8 min-h-80" style="height: 100% !important">
        <fuse-drawer [name]="'leftDrawer'" [opened]="mapFunctionalitieService.drawerOpened" [position]="'right'" [mode]="'side'">
            <div class="p-4" style="width: 100%">
                <div class="title">Enrutamiento</div>

                <button (click)="mapFunctionalitieService.visibleGeo()">Agregar <mat-icon svgIcon="plus-border"></mat-icon></button>

                <div class="flex flex-wrap">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput [autocomplete]="'off'" [placeholder]="'Search'">
                    </mat-form-field>
                </div>

                <div class="geo">
                    
                </div>
            </div>
        </fuse-drawer>
    </div>
</div>