<div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-2 md:px-8 border-b">
    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
        <div class="text-3xl font-extrabold tracking-tight">Nuevo usuario</div>
    </div>
</div>
<!--Form-->
<div class="flex flex-col flex-auto sm:my-3 sm:mb-18 overflow-hidden sm:overflow-y-auto">
    <div class="shadow-lg overflow-hidden">
        <div class="flex border-b">
            <form class="flex flex-auto flex-wrap" [formGroup]="form">
                <div class="flex flex-col w-full lg:w-1/3 sm:pl-4">
                    <!-- Name -->
                    <mat-form-field class="w-full fuse-mat-dense">
                        <mat-label>Nombre completo</mat-label>
                        <input
                            matInput
                            formControlName="full_name"
                            >
                    </mat-form-field>

                    <mat-form-field class="w-full fuse-mat-dense">
                        <mat-label>Confirmar contraseña</mat-label>
                        <input
                            matInput
                            >
                    </mat-form-field>

                    <mat-form-field class="w-full fuse-mat-dense">
                        <mat-label>Teléfono</mat-label>
                        <input
                            matInput
                            >
                    </mat-form-field>

                </div>

                <div class="flex flex-col w-full lg:w-1/3 sm:pl-4">
                    <mat-form-field class="w-full fuse-mat-dense">
                        <mat-label>Usuario</mat-label>
                        <input
                            matInput
                            formControlName="user_login"
                            >
                    </mat-form-field>

                    <mat-form-field class="w-full fuse-mat-dense">
                        <mat-label>Correo electronico</mat-label>
                        <input
                            matInput
                            formControlName="email"
                            >
                    </mat-form-field>
                    <div class="flex flex-wrap items-center ">
                        <mat-form-field class="w-full fuse-mat-dense lg:w-4/5">
                            <mat-label>Perfil</mat-label>
                            <mat-select formControlName="user_profile_id">
                                <mat-option *ngFor="let item of profile$ | async"
                                            [value]="item.id"
                                >
                                    {{item?.description}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="w-full fuse-mat-dense lg:w-1/5">
                            <button
                                mat-icon-button
                                matTooltip="Buscar perfil"
                            >
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>

                    </div>

                </div>

                <div class="flex flex-col w-full lg:w-1/3 sm:pl-4 sm:pr-2">
                    <mat-form-field class="w-full fuse-mat-dense">
                        <mat-label>Contraseña</mat-label>
                        <input
                            matInput type="password"
                            formControlName="password_digest"
                            >
                    </mat-form-field>

                    <mat-form-field class="w-full fuse-mat-dense">
                        <mat-label>Dirección</mat-label>
                        <input
                            matInput
                        >
                    </mat-form-field>

                </div>

                <div class="flex items-center justify-between w-full border-t px-8 py-4">
                    <button
                        class="-ml-4"
                        mat-raised-button
                        [color]="'warn'"
                        >
                        Cancelar
                    </button>

                    <button
                        mat-flat-button
                        [color]="'primary'"
                        (click)="onSave()"
                    >
                        Guardar
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
