<div class="flex flex-col w-full sm:pl-6">
  <div class="bg-card shadow rounded-2xl min-h-auto">

    <div style="background-image: url('../../../../../assets/images/6.png');" class="rounded-t-2xl relative w-full bg-no-repeat bg-cover h-40 sm:h-48 px-8 sm:px-12">
      <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
        <button mat-icon-button [matTooltip]="'buttons.buttonClose' | transloco" (click)="this.closeForm()">
          <mat-icon class="text-gray-200" svgIcon="heroicons_outline:x"></mat-icon>
        </button>
      </div>
    </div>

    <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
      <div class="w-full max-w-3xl">
        <div [hidden]="editMode">
          <div class="flex flex-auto items-end -mt-16">
            <!-- Avatar -->
            <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
              <div
                class="flex items-center justify-center w-full h-full rounded overflow-hidden text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                <mat-icon [svgIcon]="'heroicons_solid:user'" class="icon-size-14"></mat-icon>
              </div>
            </div>
            <!-- Actions -->
            <div class="flex items-center ml-auto mb-1">
              <button mat-stroked-button (click)="editMode = true">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                <span class="ml-2">{{'buttons.buttonEdit' | transloco}}</span>
              </button>
            </div>
          </div>
          <div class="mt-3 text-4xl font-bold truncate">{{ titleForm | transloco}}</div>
          <div class="flex flex-col mt-4 pt-6 border-t space-y-8" *ngIf="this.dataUpdate">
            <div class="flex sm:items-center">
              <mat-icon [matTooltip]="'users.formPage.fieldFullname' | transloco" svgIcon="heroicons_solid:user-circle">
              </mat-icon>
              <div class="ml-6 leading-6">{{dataUpdate['full_name']}}</div>
            </div>
            <div class="flex sm:items-center">
              <mat-icon [matTooltip]="'users.formPage.fieldEmail' | transloco" svgIcon="heroicons_outline:mail">
              </mat-icon>
              <div class="ml-6 leading-6">
                <a class="hover:underline text-primary-500" [href]="'mailto:' + dataUpdate['email']" target="_blank">
                  {{dataUpdate['email']}}
                </a>
              </div>
            </div>
            <div class="flex sm:items-center">
              <mat-icon [matTooltip]="'users.formPage.fieldPhone' | transloco"
                svgIcon="heroicons_outline:phone"></mat-icon>
              <div class="ml-6 leading-6">{{dataUpdate['phone']}}</div>
            </div>
            <div class="flex sm:items-center">
              <mat-icon [matTooltip]="'users.formPage.fieldAddress' | transloco"
                svgIcon="heroicons_outline:location-marker">
              </mat-icon>
              <div class="ml-6 leading-6">{{dataUpdate['address']}}</div>
            </div>
          </div>
        </div>

        <div [hidden]="!editMode">
          <form [formGroup]="this.formUser" (ngSubmit)="onSubmit()" class="flex flex-col gap-3 pt-6">

            <mat-form-field class="w-full fuse-mat-dense">
              <mat-label>{{'users.formPage.fieldFullname' | transloco}}</mat-label>
              <mat-icon matPrefix class="hidden sm:flex icon-size-5" svgIcon="heroicons_outline:user-circle"></mat-icon>
              <input type="text" matInput [placeholder]="'users.formPage.fieldFullname' | transloco"
                formControlName="full_name" required>
            </mat-form-field>

            <mat-form-field class="w-full fuse-mat-dense">
              <mat-label>{{'users.formPage.fieldUsername' | transloco}}</mat-label>
              <mat-icon matPrefix class="hidden sm:flex icon-size-5" svgIcon="heroicons_outline:user"></mat-icon>
              <input type="text" [placeholder]="'users.formPage.fieldUsername' | transloco" matInput
                formControlName="user_login" required>

              <mat-error *ngIf="this.validUsername">
                {{'users.formPage.errorForm.validUsername' | transloco}}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full fuse-mat-dense">
              <mat-label>{{'users.formPage.fieldProfile' | transloco}}</mat-label>
              <mat-icon matPrefix class="hidden sm:flex icon-size-5" svgIcon="mat_outline:verified_user"></mat-icon>
              <mat-select formControlName="user_profile_id" [placeholder]="'users.formPage.fieldProfile' | transloco" required>
                <mat-option *ngFor="let item of (profile$ | async)" [value]="item.id">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full fuse-mat-dense">
              <mat-label>{{'users.formPage.fieldEmail' | transloco}}</mat-label>
              <mat-icon matPrefix class="hidden sm:flex icon-size-5" svgIcon="heroicons_outline:mail">
              </mat-icon>
              <input matInput formControlName="email" placeholder="example@gmail.com" required>
            </mat-form-field>

            <ng-container *ngIf="this.dataUpdate">
              <div class="flex gap-6">
                <mat-label>{{'users.formPage.fieldChangePassword' | transloco}}</mat-label>
                <mat-slide-toggle formControlName="change_password" color="primary">
                </mat-slide-toggle>
              </div>
            </ng-container>

            <mat-form-field *ngIf="!this.dataUpdate || valueControlChangePassword" class="w-full fuse-mat-dense">
              <mat-label>{{'users.formPage.fieldPassword' | transloco}}</mat-label>
              <input matInput [type]="hidePassword ? 'text' : 'password'" formControlName="password_digest">
              <mat-icon class="cursor-pointer" matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ?
                'visibility_off' :
                'visibility'}}</mat-icon>
            </mat-form-field>

            <mat-form-field *ngIf="!this.dataUpdate || valueControlChangePassword" class="w-full fuse-mat-dense">
              <mat-label>{{'users.formPage.fieldPasswordConfirm' | transloco}}</mat-label>
              <input matInput [type]="hidePasswordConfirm ? 'text' : 'password'" formControlName="confirm_password">
              <mat-icon class="cursor-pointer" matSuffix (click)="hidePasswordConfirm = !hidePasswordConfirm">
                {{hidePasswordConfirm ?
                'visibility_off' :
                'visibility'}}</mat-icon>
              <mat-error *ngIf="errorMustMatch">
                {{'users.formPage.errorForm.passwordValid' | transloco}}
              </mat-error>
            </mat-form-field>


            <mat-form-field class="w-full fuse-mat-dense">
              <mat-label>{{'users.formPage.fieldPhone' | transloco}}</mat-label>
              <input matInput formControlName="phone" [placeholder]="'users.formPage.fieldPhone' | transloco"
                type="number" required>
              <mat-select class="mr-1.5" formControlName="indicative" matPrefix>
                <mat-select-trigger>
                  <span class="flex items-center">
                    <span class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                      [style.background]="'url(\'/assets/images/flags/flags.png\') no-repeat 0 0'"
                      [style.backgroundSize]="'24px 3876px'"
                      [style.backgroundPosition]="this.countrieFlag.flagImagePos"></span>
                    <span
                      class="sm:mx-0.5 font-medium text-default">{{this.formUser.controls['indicative'].value}}</span>
                  </span>
                </mat-select-trigger>
                <ng-container *ngFor="let country of countries">
                  <mat-option [value]="country.code">
                    <span class="flex items-center">
                      <span class="w-6 h-4 overflow-hidden"
                        [style.background]="'url(\'/assets/images/flags/flags.png\') no-repeat 0 0'"
                        [style.backgroundSize]="'24px 3876px'"
                        [style.backgroundPosition]="country?.flagImagePos"></span>
                      <span class="ml-2">{{country.name}}</span>
                      <span class="ml-2 font-medium">{{country.code}}</span>
                    </span>
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full fuse-mat-dense">
              <mat-label>{{'users.formPage.fieldAddress' | transloco}}</mat-label>
              <mat-icon matPrefix class="hidden sm:flex icon-size-5" svgIcon="heroicons_outline:location-marker">
              </mat-icon>
              <input matInput formControlName="address" [placeholder]="'users.formPage.fieldAddress' | transloco">
            </mat-form-field>
            <div class="flex items-center mt-4 -mx-6 sm:-mx-12  pr-4 pl-1 sm:pr-12 sm:pl-7">
              <button type="button" *ngIf="this.dataUpdate" mat-button color="warn" (click)="this.deleteUser()">
                {{'buttons.buttonDelete' | transloco}}
              </button>

              <button type="button" class="ml-auto" mat-button (click)="this.editMode = false">
                {{'buttons.buttonCancel' | transloco}}
              </button>

              <button class="ml-2" type="submit" mat-flat-button color="accent" [disabled]="this.formUser.invalid">
                {{'buttons.buttonSave' | transloco}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>