

        <div class="bg-card shadow rounded-2xl min-h-100 -m-6">
      
          <div class="rounded-t-2xl relative w-full h-40 sm:h-40 bg-gray-200">
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6 pr-4">
              <button mat-icon-button matTooltip="Cerrar" mat-dialog-close>
                <mat-icon class="text-gray-400" svgIcon="heroicons_outline:x"></mat-icon>
              </button>
            </div>
          </div>
      
          <div class="relative flex flex-col flex-auto p-6 pt-0 sm:p-12 sm:pt-0">
            <div  class="w-full max-w-3xl">
            
                <div class="flex flex-auto items-end -mt-16">
                  <!-- Avatar -->
                  <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                    <div
                      class="flex items-center justify-center w-full h-full rounded overflow-hidden text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                      <mat-icon [svgIcon]="'heroicons_solid:clipboard'" class="icon-size-14"></mat-icon>
                    </div>
                  </div>
                  <!-- Actions -->
                
                </div>

            </div>

            <form autocomplete="off" (ngSubmit)="guardar()" [formGroup]="formClient" class="flex">  

            <mat-form-field class=" w-full mt-5 fuse-mat-dense">
                <mat-label>Buscar nuevo cliente por nombre, documento o nit</mat-label>
                
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" svgIcon="heroicons_outline:search"></mat-icon>
                <input  type="text" [matAutocomplete]="auto" matInput placeholder="Ingrese nombre, documento o nit a buscar" formControlName="name" (input)="lookingFor()">
              
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="clientSelected( $event )">

                  <mat-option *ngFor="let data of clientsApi" [value]="data">
                    {{data}}
                  </mat-option>



                </mat-autocomplete>

            

            </mat-form-field>

           </form>
            <div class="flex items-end mt-2 -mx-6 sm:-mx-12  pr-4 pl-1 sm:pr-12 sm:pl-7">


              <button type="button" mat-dialog-close class="ml-auto" mat-button matTooltip="Cancelar" >
                Cancelar
              </button>
    
              <button class="ml-2" (click)="guardar()"  [disabled]="formClient.invalid" type="submit" mat-flat-button color="accent" matTooltip="Seleccionar">
                Seleccionar
              </button>

            </div>

        </div>

       

    </div>


      