<div class="w-full h-full py-2 px-3 bg-white flex flex-col gap-2">

  <div class="flex items-center justify-between border-b-2">
    <h2 class="text-xl font-semibold tracking-tight leading-6">
      {{'map.panelGeotools.form.new'| transloco}} {{titleForm | transloco}}
    </h2>
    <button mat-icon-button matTooltip="Cerrar" matTooltipPosition="left"
      (click)="this.closeForm.emit({ closePanel: false, refreshData: false })">
      <mat-icon class="text-gray-400" svgIcon="heroicons_outline:x"></mat-icon>
    </button>
  </div>

  <div class="h-auto overflow-auto px-2">
    <form [formGroup]="this.formGeotool" (submit)="this.onSubmit()" class="flex flex-col">
      <div class="flex gap-2 justify-between">
        <mat-form-field class="fuse-mat-dense w-full">
          <mat-label>{{'map.panelGeotools.form.code' | transloco}}</mat-label>
          <input matInput formControlName="code" [placeholder]="'map.panelGeotools.form.code' | transloco" required>
        </mat-form-field>

        <div>
          <app-input-color [form]="this.formGeotool" labelControl="color"></app-input-color>
        </div>
      </div>

      <mat-form-field class="fuse-mat-dense">
        <mat-label>{{'map.panelGeotools.form.name' | transloco}}</mat-label>
        <input matInput formControlName="name" [placeholder]="'map.panelGeotools.form.name' | transloco" required>
      </mat-form-field>

      <mat-form-field class="fuse-mat-dense">
        <mat-label>{{'map.panelGeotools.form.description' | transloco}}</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <div class="flex gap-2 self-end">
        <button type="button" mat-flat-button
          (click)="this.closeForm.emit({ closePanel: false, refreshData: false })">{{'buttons.buttonCancel' | transloco}}</button>
        <button type="submit" mat-flat-button color="accent" [disabled]="formGeotool.invalid">{{'buttons.buttonSave' | transloco}}</button>
      </div>
    </form>
  </div>

</div>