<div class="fixed z-999 ml-2.5 top-18 sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded overflow-hidden h-96"
     [@fadeInLeft]="animationStates.fadeOut.right"
     cdkDragHandle
>
    <!--Main options-->
    <div class="flex items-center justify-between -mt-5">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">Historial</div>
        <button
            mat-icon-button
            class="-mr-5"
            (click)="onShow()"
            >
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <ng-container *ngFor="let item of histories; ">
        <fuse-card class="flex flex-col mt-5">
            <div class="m-4">
                <div class="text-1xl font-semibold leading-tight">{{item.plate}}</div>
                <mat-checkbox #checkbox
                              (change)="onSelected(checkbox, item)"
                              [checked]="checkModel"
                >
                </mat-checkbox>
                <ng-container *ngIf="item.time_line?.length">
                    <ng-container *ngFor="let time of item.time_line; let i = index; first as isFirst; last as isLast">
                        <div *ngIf="isFirst">
                            <span>Nombre evento inicio: {{time.event_name}}</span>
                            <span>Dirección: {{time.address}}</span>
                        </div>
                        <div *ngIf="isLast">
                            <span>Nombre evento fin: {{time.event_name}}</span>
                            <span>Dirección: {{time.address}}</span>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </fuse-card>
   </ng-container>
</div>
<!--
<div class="fixed z-9999 ml-2.5 top-40 shadow-md rounded-lg">
    <div class="text-1xl font-extrabold tracking-tight">Historial</div>
    <mat-tab-group>
        <mat-tab label="Historial">


        </mat-tab>

    </mat-tab-group>


</div>
-->
