<div class="fixed z-999 ml-60 top-40 sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded overflow-hidden">
    <!--Main options-->
    <div class="flex items-center justify-between -mt-5">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">Historial</div>
        <button
            mat-icon-button
            class="-mr-5"
            (click)="onShow()"
            >
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <div class="flex flex-col sm:flex-row items-start mt-5 justify-between">
        <div class="mt-3 sm:mt-0 sm:ml-2">
            <ng-container *ngFor="let item of histories">
                <div class="flex flex-col flex-auto p-6 bg-gray-50 sm:mb-4 shadow rounded overflow-hidden ">
                    <div class="flex items-center justify-between">
                        <div class="text-1xl font-semibold leading-tight">{{item.plate}}</div>
                    </div>
                    <div class="flex flex-col mt-5">
                        <div class="flex">
                            <mat-checkbox #checkbox
                                (change)="$event ? $event: null"
                                (click)="onSelected(!checkbox.checked, item)"
                                >

                            </mat-checkbox>
                            <mat-icon
                                class="icon-size-5 mt-0.5 mr-2"
                                [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                            <!--<div><b>20% OFF</b> in your favorite hats shop.</div>-->
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<!--
<div class="fixed z-9999 ml-2.5 top-40 shadow-md rounded-lg">
    <div class="text-1xl font-extrabold tracking-tight">Historial</div>
    <mat-tab-group>
        <mat-tab label="Historial">


        </mat-tab>

    </mat-tab-group>


</div>
-->
