.filter-historic {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;

    .date-picker {
        width: 100%;
        display: flex;
        border: 2px solid rgba(0, 0, 0, 0.2);
        padding: 6px 30px;
        border-radius: 50px;
    }

    .search-historic {
        background: #2c384f;
        padding: 10px;
        border-radius: 50px;

        img {
            width: 20px;
            height: 20px;
        }
    }
}

.message_dates {
    text-align: center;
    color: #ea4335;
}