<div #map id="map"></div>



<ng-container *ngIf="mapService.showMenuMobiles">
  <div class="absolute pl-2 pt-2 z-99">
    <app-floating-menu>
    </app-floating-menu>
  </div>
</ng-container>

<ng-container *ngIf="mapService.showDetailMobile">
  <app-floating-menu-detail>
  </app-floating-menu-detail>
</ng-container>

<app-geotools>
</app-geotools>

<ng-container *ngIf="mapService.showFormGeomertry">
  <app-form-geometry>
  </app-form-geometry>
</ng-container>

<ng-container *ngIf="mapService.showHistoricPlate">
  <app-historics>
  </app-historics>
</ng-container>

<ng-container *ngIf="mapService.showCommandsPlate">
  <app-commands>
  </app-commands>
</ng-container>

<!--<ng-container *ngIf="showMenuFleet">
    <app-floating-menu-fleet>
    </app-floating-menu-fleet>
</ng-container>
<ng-container *ngIf="showHistory">
    <app-form-assign-mark
        (closeMenu)="onCloseMenu($event)">
    </app-form-assign-mark>
</ng-container>
<ng-container *ngIf="showDetailMobile">
    <app-form-detail-mobile
        (closeMenu)="onCloseDetailMenu($event)"
    ></app-form-detail-mobile>
</ng-container>-->




<div class="options">
  <ul>
    <li *ngFor="let option of optionsIcons" (click)="eventClick(option.type)">
      <span>
        <mat-icon svgIcon="{{option.name}}"></mat-icon>
      </span>
    </li>
  </ul>
</div>


<div class="options-geo-tools" *ngIf="mapService.showOptionsGeoTools">
  <div class="item" *ngFor="let options of optionsGeo" (click)="eventOptionGeotools(options.type)">
    <div class="item-icon">
      <mat-icon svgIcon="{{options.icon}}"></mat-icon>
    </div>

    <div class="item-title">
      {{options.name}}
    </div>
  </div>
</div>


<div class="settings-map">
  <div class="item">
    <mat-checkbox (change)="setCluster($event)" [checked]="mapService.verCluster">
      Ver cluster
    </mat-checkbox>
  </div>

  <div class="item">
    <mat-checkbox (change)="setLabel($event)" [checked]="mapService.verLabel">
      Ver label
    </mat-checkbox>
  </div>
</div>