<div class="flex flex-col w-full sm:pl-6">
  <div class="bg-card shadow rounded-2xl min-h-180">
    <div class="rounded-t-2xl relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-gray-200">
      <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
        <button mat-icon-button [matTooltip]="'Cerrar'" (click)="closeMenu()">
          <mat-icon class="text-gray-400" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
      </div>
    </div>
    <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
      <div class="w-full max-w-3xl">
        <!-- Avatar and actions -->
        <ng-container *ngIf="!editMode">
          <div class="flex flex-auto items-end -mt-16">
            <!-- Avatar -->
            <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
              <div
                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                {{profiles['name']?.charAt(0)}}
              </div>
            </div>
            <!-- Actions -->
            <div class="flex items-center ml-auto mb-1">
              <button mat-stroked-button (click)="editMode = true">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                <span class="ml-2">Editar</span>
              </button>
            </div>
          </div>
          <div class="mt-3 text-4xl font-bold truncate">{{profiles['name']}}</div>
          <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
            <ng-container *ngIf="profiles['description']">
              <div class="flex sm:items-center">
                <mat-icon [matTooltip]="'Descripción'">subtitles</mat-icon>
                <div class="ml-6 leading-6">{{profiles['description']}}</div>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <div [hidden]="!editMode">
          <form [formGroup]="profileForm">
            <div class="mt-4">
              <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>Nombre</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5">title</mat-icon>
                <input matInput [formControlName]="'name'" [placeholder]="'Nombre'">
              </mat-form-field>
            </div>
            <div class="mt-4">
              <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>Descripción</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5">subtitles
                </mat-icon>
                <input matInput [formControlName]="'description'" [placeholder]="'Descripción'">
              </mat-form-field>
            </div>

            <div class="flex gap-2 items-center mt-4">
              <mat-label class="mb-3">Buscar por:</mat-label>
              <mat-radio-group [(ngModel)]="selectTrasport" [ngModelOptions]="{standalone: true}" class="mb-3">
                <mat-radio-button class="mr-3" *ngFor="let trasport of listTrasport" (change)="onChangeTrasport($event)"
                  [value]="trasport.name">{{ trasport.text }}</mat-radio-button>
              </mat-radio-group>
            </div>

            <div [hidden]="!(selectTrasport === 'mobiles')">
              <mat-form-field class="fuse-mat-dense w-full" appearance="fill">
                <mat-select multiple formControlName="plates" placeholder="Seleccione vehiculos">
                  <mat-option class="option-all" #allSelectedMobiles (click)="this.allSelectionMobiles()" [value]="0">
                    Seleccionar todos
                  </mat-option>
                  <mat-option [value]="mobile.plate" *ngFor="let mobile of this.plates">
                    {{ mobile.plate }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div [hidden]="!(selectTrasport === 'fleet')">
              <mat-form-field class="fuse-mat-dense w-full" appearance="fill">
                <mat-select multiple formControlName="fleets" placeholder="Seleccione flotas">
                  <mat-option class="option-all" #allSelectedFleets (click)="this.allSelectionFleets()" [value]="0">
                    Seleccionar todos
                  </mat-option>
                  <mat-option [value]="fleet.id" *ngFor="let fleet of this.fleets">
                    {{ fleet.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="flex flex-wrap items-center -m-1.5 mt-6 overflow-y-auto shadow rounded-2xl">
              <div class="flex p-4 w-full">
                <div class="flex border-2 rounded-full p-2 ">
                  <input #input matInput placeholder="Buscar" (keyup)="filterTable($event)">
                  <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_outline:search">
                  </mat-icon>
                </div>
              </div>
              <!-- Tabla-->
              <table mat-table [dataSource]="dataTableOption" multiTemplateDataRows matSort class="w-full">
                <!-- Checkbox Column -->
                <!-- <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container> -->
                <!-- title Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                  <td mat-cell *matCellDef="let row">
                    <span class="pr-6 whitespace-nowrap">
                      <mat-checkbox>
                      </mat-checkbox>
                    </span>
                  </td>
                </ng-container>
                <!-- title Column -->
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
                  <td mat-cell *matCellDef="let row">
                    <span class="pr-6 whitespace-nowrap">
                      {{row.title}} </span>
                  </td>
                </ng-container>
                <!-- subtitle Column -->
                <ng-container matColumnDef="subtitle">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                  <td mat-cell *matCellDef="let row">
                    <span class="pr-6 whitespace-nowrap">
                      {{row.subtitle}} </span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="expand">
                  <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button
                      (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                      <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                      <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="example-element-detail"
                      [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
                      <div class="flex justify-center">
                        <mat-checkbox class="ml-3 mb-3">Crear </mat-checkbox>
                        <mat-checkbox class="ml-3 mb-3">Actualizar </mat-checkbox>
                        <mat-checkbox class="ml-3 mb-3">Borrar </mat-checkbox>
                      </div>
                    </div>
                  </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;" class="example-element-row"
                  [class.example-expanded-row]="expandedElement === row" (click)="actionsMenu(row);">
                </tr>
                <tr mat-row *matRowDef=" let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                <!-- Fila que se muestra cuando no hay datos coincidentes.. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No hay datos que coincidan con la busqueda:
                    "{{input.value}}"
                  </td>
                </tr>
              </table>
              <mat-paginator class="sm:inset-x-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-200"
                [pageSizeOptions]="[10,20,50]">
              </mat-paginator>
            </div>
          </form>
          <div class="flex items-center mt-4 -mx-6 sm:-mx-12  pr-4 pl-1 sm:pr-12 sm:pl-7">
            <!-- Eliminar -->
            <button *ngIf="profiles['id']" mat-button color="warn" [matTooltip]="'Eliminar'"
              (click)="deleteContact(profiles['id'])">
              Eliminar </button>
            <!-- Cancelar -->
            <button class="ml-auto" mat-button matTooltip="Cancelar" (click)="editMode = false">
              Cancelar
            </button>
            <!-- Guardar -->
            <button class="ml-2" mat-flat-button color="accent" [disabled]="profileForm.invalid" matTooltip="Guardar">
              <span *ngIf="!profileForm.disabled">
                Guardar
              </span>
              <mat-progress-spinner *ngIf="profileForm.disabled" [diameter]="24" [mode]="'indeterminate'">
              </mat-progress-spinner>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>