<div class="flex flex-col w-full sm:pl-6">
  <div class="bg-card shadow rounded-2xl min-h-auto">

    <!-- Cabecera del formulario -->
    <div class="rounded-t-2xl relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-gray-200">
      <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
        <button mat-icon-button [matTooltip]="'buttons.buttonClose' | transloco" (click)="closeForm()">
          <mat-icon class="text-gray-400" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
      </div>
    </div>

    <!-- Contenido principal del formulario -->
    <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
      <div class="w-full max-w-3xl">

        <!-- Avatar y acion de editar -->
        <ng-container *ngIf="!editMode">
          <div class="flex flex-auto items-end -mt-16">
            <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
              <div
                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                <mat-icon svgIcon="feather:user-check" class="icon-size-14"></mat-icon>
              </div>
            </div>
            <div class="flex items-center ml-auto mb-1">
              <button mat-stroked-button (click)="editMode = true">
                <mat-icon class="icon-size-5" svgIcon="heroicons_solid:pencil-alt"></mat-icon>
                <span class="ml-2">{{'buttons.buttonEdit' | transloco}}</span>
              </button>
            </div>
          </div>

          <div class="mt-3 text-4xl font-bold truncate">{{this.titleForm | transloco}}</div>

          <div class="flex flex-col mt-4 pt-6 border-t space-y-8" *ngIf="this.dataUpdate">
            <div class="flex sm:items-center">
              <mat-icon [matTooltip]="'profile.formPage.fieldName' | transloco">title</mat-icon>
              <div class="ml-6 leading-6">{{dataUpdate['name']}}</div>
            </div>
            <div class="flex sm:items-center">
              <mat-icon [matTooltip]="'profile.formPage.fieldDescription' | transloco">subtitles</mat-icon>
              <div class="ml-6 leading-6">{{dataUpdate['description']}}</div>
            </div>
          </div>
        </ng-container>

        <!-- Inputs del formulario -->
        <div [hidden]="!editMode">
          <form [formGroup]="profileForm" (submit)="this.onSubmit()">
            <div class="mt-4">
              <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>{{'profile.formPage.fieldName' | transloco}}</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5">title</mat-icon>
                <input matInput formControlName="name" [placeholder]="'profile.formPage.fieldName' | transloco" required>
              </mat-form-field>
            </div>
            <div class="mt-4">
              <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>{{'profile.formPage.fieldDescription' | transloco}}</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5">subtitles
                </mat-icon>
                <input matInput formControlName="description"
                  [placeholder]="'profile.formPage.fieldDescription' | transloco" required>
              </mat-form-field>
            </div>

            <div class="flex gap-2 items-center mt-4 mb-2">
              <mat-label>{{'profile.formPage.fieldtypeVehiculo' | transloco}}</mat-label>
              <mat-radio-group class="flex gap-2" [(ngModel)]="selectTrasport" [ngModelOptions]="{standalone: true}">
                <mat-radio-button *ngFor="let trasport of listTrasport" (change)="onChangeTrasport($event)"
                  [value]="trasport.name">{{ trasport.text | transloco }}</mat-radio-button>
              </mat-radio-group>
            </div>

            <div *ngIf="selectTrasport === 'mobiles'">
              <app-multi-select-filter [form]="this.profileForm" [placeholder]="'profile.formPage.fieldEvents'"
                [options]="{data:this.plates, key:'plate_id', keyView:'plate'}" labelControl="plates">
              </app-multi-select-filter>
            </div>

            <div *ngIf="selectTrasport === 'fleet'">
              <app-multi-select-filter [form]="this.profileForm" [placeholder]="'profile.formPage.fieldFleets'"
                [options]="{data:this.fleets, key:'id', keyView:'name'}" labelControl="fleets">
              </app-multi-select-filter>
            </div>

            <div class="flex justify-between gap-3 mt-2 h-80">

              <div class="w-full h-auto overflow-auto">
                <mat-label
                  class="sticky top-0 z-99 py-2 bg-white w-full text-lg font-semibold">{{'profile.formPage.availableModules'
                  | transloco}}</mat-label>
                <div class="min-h-12 overflow-hidden bg-white rounded shadow mt-4" cdkDropList
                  #availableList="cdkDropList" [cdkDropListData]="availableModules" cdkDropListOrientation="horizontal"
                  [cdkDropListConnectedTo]="[assignedList]" (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of availableModules" cdkDrag>{{item.title}}</div>
                </div>
              </div>

              <div class="w-full h-auto overflow-auto">
                <mat-label
                  class="sticky top-0 z-99 py-2 bg-white w-full text-lg font-semibold">{{'profile.formPage.assignedModules'
                  | transloco}}</mat-label>
                <div class="min-h-12 overflow-hidden bg-white rounded shadow mt-4" cdkDropList
                  #assignedList="cdkDropList" [cdkDropListData]="assignedModules" cdkDropListOrientation="horizontal"
                  [cdkDropListConnectedTo]="[availableList]" (cdkDropListDropped)="drop($event)">

                  <div class="example-box" *ngFor="let item of assignedModules" cdkDrag>
                    <mat-accordion class="w-full">
                      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{item.title}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="flex flex-wrap justify-center gap-3">
                          <mat-checkbox [checked]="item.option.create"
                            (change)="asingOption($event.checked, 'create', item.id)"
                            *ngIf="item.create_option">{{'profile.formPage.optionsPermission.create' | transloco}}
                          </mat-checkbox>
                          <mat-checkbox [checked]="item.option.update"
                            (change)="asingOption($event.checked, 'update', item.id)" *ngIf="item.edit_option">
                            {{'profile.formPage.optionsPermission.update' | transloco}} </mat-checkbox>
                          <mat-checkbox [checked]="item.option.delete"
                            (change)="asingOption($event.checked, 'delete', item.id)"
                            *ngIf="item.delete_option">{{'profile.formPage.optionsPermission.delete' | transloco}}
                          </mat-checkbox>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>
            </div>

            <div class="flex items-center mt-4 -mx-6 sm:-mx-12  pr-4 pl-1 sm:pr-12 sm:pl-7">
              <button type="button" *ngIf="dataUpdate" mat-button color="warn" (click)="deleteProfile()">
                {{'buttons.buttonDelete' | transloco}} </button>

              <button type="button" class="ml-auto" mat-button (click)="editMode = false">
                {{'buttons.buttonCancel' | transloco}}
              </button>

              <button type="submit" class="ml-2" mat-flat-button color="accent" [disabled]="profileForm.invalid">
                {{'buttons.buttonSave' | transloco}}
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>