<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <!-- Main -->
    <div class="flex-auto p-4 sm:p-4">
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-2 md:px-8 border-b">
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <div class="text-3xl font-extrabold tracking-tight">Editar eventos</div>
            </div>
        </div>
        <div class="flex-auto mt-4 sm:mt-6">
            <div class="w-full max-w-screen-xl mx-auto">
                <!-- form  -->
                <form>
                    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
                        <div class="-mx-3 md:flex mb-6">
                            <mat-form-field class="w-3/4 px-3 fuse-mat-dense">
                                <mat-label>Nombre</mat-label>
                                <input matInput type="text" placeholder="Nombre" formControlName="name">
                            </mat-form-field>

                            <mat-form-field class="w-1/4 px-3 fuse-mat-dense">
                                <mat-label>Color</mat-label>
                                <input matInput type="color" formControlName="color">
                            </mat-form-field>
                        </div>
                        <div class="-mx-3 fuse-mat-dense">
                            <mat-form-field class="w-full px-3 fuse-mat-dense">
                                <mat-label>Descripción</mat-label>
                                <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="-mx-3 md:flex mb-6">
                            <mat-slide-toggle class="w-1/2 px-3 fuse-mat-dense" id="check">Notificacion por correo
                            </mat-slide-toggle>

                            <mat-form-field appearance="fill">
                                <mat-label>Toppings</mat-label>
                                <mat-select [formControl]="toppings" multiple>
                                  <mat-select-trigger>
                                    {{toppings.value ? toppings.value[0] : ''}}
                                    <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                                      (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                                    </span>
                                  </mat-select-trigger>
                                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                              

                        </div>


                        <!-- Buttons -->
                        <div class="flex items-center justify-between w-full border-t px-8 py-4">
                            <button class="-ml-4" mat-raised-button [color]="'warn'">Cerrar</button>
                            <button type="submit" mat-flat-button [color]="'primary'">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
