<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full mx-auto p-6">
        <!--Title-->
        <div class="relative flex flex-col flex-auto p-4 bg-card rounded-2xl shadow overflow-hidden">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Gestion de menú</h2>
                <div class="ml-0.5 font-medium text-secondary">
                    <ng-container *ngIf="menuCount > 0">
                        {{menuCount}}
                    </ng-container>
                    {{menuCount | i18nPlural: {
                    '=0' : 'Sin opciones',
                    '=1' : 'Opción',
                    'other': 'Opciones'
                    } }}
                </div>
            </div>
        </div>
        <div class="flex flex-wrap w-full py-6">
            <div class="w-full overflow-hidden">
                <mat-drawer-container class="flex-auto h-auto md:min-h-180">
                    <mat-drawer #drawer [(opened)]="opened" mode="side" position="end"
                        class="w-full md:w-128 bg-gray-100 border-none">
                        <ng-container *ngIf="opened">
                            <app-form-menu-options></app-form-menu-options>
                        </ng-container>
                    </mat-drawer>
                    <mat-drawer-content class="flex flex-col mb-18 overflow-y-auto bg-card shadow rounded-2xl">
                        <!-- Acciones-->
                        <div class="flex border-b p-6">
                            <div class="flex border-2 rounded-full p-2 ">
                                <input #input matInput placeholder="Buscar" (keyup)="filterTable($event)">
                                <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_outline:search"></mat-icon>
                            </div>
                            <div class="pl-6">
                                <button class="fuse-mat-button-rounded" mat-flat-button [color]="'accent'"
                                    (click)="newMenu()">
                                    <mat-icon class="icon-size-5">add</mat-icon>
                                    <span class="ml-2">Agregar opciones</span>
                                </button>
                            </div>
                        </div>
                        <div [hidden]="menuCount > 0" class="pt-3 w-full h-full items-center justify-center">
                            <div class="flex items-center justify-center">
                                <div class="text-base font-semibold text-secondary">Lo sentimos no se encontraron datos
                                </div>
                            </div>
                        </div>
                        <div [hidden]="menuCount <= 0">
                            <div class="flex flex-col flex-auto sm:mb-18 overflow-y-auto">
                                <!-- Tabla-->
                                <table mat-table [dataSource]="dataTableMenu" matSort class="w-full">
                                    <!-- name Column -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
                                        <td mat-cell *matCellDef="let row">
                                            <span class="pr-6 whitespace-nowrap">
                                                {{row.title}} </span>
                                        </td>
                                    </ng-container>
                                    <!-- description Column -->
                                    <ng-container matColumnDef="description">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtitulo </th>
                                        <td mat-cell *matCellDef="let row">
                                            <span class="pr-6 whitespace-nowrap">
                                                {{row.subtitle}} </span>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="columnsMenu"></tr>
                                    <tr mat-row (click)="actionsMenu(row.id)"
                                        *matRowDef="let row; columns: columnsMenu;">
                                    </tr>
                                    <!-- Fila que se muestra cuando no hay datos coincidentes.. -->
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="2">No hay datos que coincidan con la busqueda:
                                            "{{input?.value}}"
                                        </td>
                                    </tr>
                                </table>
                                <mat-paginator
                                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-200"
                                    [pageSizeOptions]="[10,20,50]">
                                </mat-paginator>
                            </div>
                        </div>
                    </mat-drawer-content>
                </mat-drawer-container>
            </div>
        </div>
    </div>
</div>
