<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full mx-auto p-6">
        <!--Title-->
        <div class="relative flex flex-col flex-auto p-4 bg-card rounded-2xl shadow overflow-hidden">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Contactos</h2>
                <div class="ml-0.5 font-medium text-secondary">
                    <ng-container *ngIf="contactsCount > 0">
                        {{contactsCount}}
                    </ng-container>
                    {{contactsCount | i18nPlural: {
                    '=0' : 'Sin contactos',
                    '=1' : 'contacto',
                    'other': 'contactos'
                    } }}
                </div>
            </div>
        </div>
        <div class="flex flex-wrap w-full py-6">
            <div class="w-full overflow-hidden">
                <mat-drawer-container class="flex-auto h-auto md:h-180">
                    <mat-drawer #drawer [(opened)]="opened" mode="side" position="end"
                        class="w-full md:w-128 bg-gray-100 border-none">
                        <ng-container *ngIf="opened">
                            <app-form-contact></app-form-contact>
                        </ng-container>
                    </mat-drawer>
                    <mat-drawer-content class="flex flex-col mb-18 overflow-y-auto bg-card shadow rounded-2xl">
                        <!-- Acciones-->
                        <div class="flex border-b p-6">
                            <div class="flex border-2 rounded-full p-2 ">
                                <input #input matInput placeholder="Buscar" (keyup)="filterTable($event)">
                                <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_outline:search"></mat-icon>
                            </div>
                            <div class="pl-6">
                                <button class="fuse-mat-button-rounded" mat-flat-button [color]="'accent'"
                                    (click)="newContact()">
                                    <mat-icon class="icon-size-5">add</mat-icon>
                                    <span class="ml-2">Agregar contacto</span>
                                </button>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto sm:mb-18 overflow-y-auto">
                            <!-- Tabla-->
                            <table mat-table [dataSource]="dataTableContact" matSort class="w-full">
                                <!-- full_name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="pr-6 whitespace-nowrap">
                                            {{row.full_name}} </span>
                                    </td>
                                </ng-container>
                                <!-- identification Column -->
                                <ng-container matColumnDef="identification">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Indentificación </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="pr-6 whitespace-nowrap">
                                            {{row.identification}} </span>
                                    </td>
                                </ng-container>
                                <!-- address Column -->
                                <ng-container matColumnDef="address">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="pr-6 whitespace-nowrap">
                                            {{row.address}} </span>
                                    </td>
                                </ng-container>
                                <!-- email Column -->
                                <ng-component matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo electrónico </th>
                                    <td mat-cell *matCellDef="let row">
                                        <a class="hover:underline text-primary-500 pr-6 whitespace-nowrap"
                                            [href]="'mailto:' + row.email" target="_blank">
                                            {{row.email}}
                                        </a>
                                    </td>
                                </ng-component>
                                <!-- phone Column -->
                                <ng-container matColumnDef="cellPhone">
                                    <th mat-header-cell *matHeaderCellDef>Celular</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="pr-6 whitespace-nowrap">
                                            {{row.phone}} </span>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="columnsContact"></tr>
                                <tr mat-row (click)="actionsContact(row.id)"
                                    *matRowDef="let row; columns: columnsContact;">
                                </tr>
                                <!-- Fila que se muestra cuando no hay datos coincidentes.. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="5">No hay datos que coincidan con la busqueda:
                                        "{{input?.value}}"
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <mat-paginator
                            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-200"
                            [pageSizeOptions]="[10]" aria-label="Select page of users">
                        </mat-paginator>
                    </mat-drawer-content>
                </mat-drawer-container>
            </div>
        </div>
    </div>
</div>
