<div class="flex flex-col flex-auto w-full">
  <div class="flex flex-wrap w-full mx-auto p-6">

    <div class="w-full">
      <app-header-page [title]="this.titlePage" [subTitle]="this.subTitlePage"></app-header-page>
    </div>

    <div class="flex flex-wrap w-full py-6">
      <div class="w-full overflow-hidden">
        <mat-drawer-container class="flex-auto h-auto md:min-h-180">
          <mat-drawer #drawer [(opened)]="opened" mode="side" position="end"
            class="w-full md:w-128 bg-gray-100 border-none">
            <ng-container *ngIf="opened">
              <app-form-user [listUsers]="this.userData" [dataUpdate]="this.userDataUpdate"
                (emitCloseForm)="this.opened = false" [titleForm]="this.titleForm"></app-form-user>
            </ng-container>
          </mat-drawer>

          <mat-drawer-content class="flex flex-col mb-18 overflow-y-auto bg-card shadow rounded-2xl">
            <div class="flex border-b p-6">
              <div class="flex border-2 rounded-full p-2 ">
                <input matInput placeholder="Buscar" (keyup)="filterTable($event)">
                <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_outline:search"></mat-icon>
              </div>
              <div class="pl-6">
                <button class="fuse-mat-button-rounded" mat-flat-button color="accent" (click)="this.newUser()">
                  <mat-icon class="icon-size-5">add</mat-icon>
                  <span class="ml-2">Agregar usuario</span>
                </button>
              </div>
            </div>

            <div>
              <app-table [dataColumn]="this.displayedColumns" [dataRow]="this.userData"
                [dataOptionTable]="this.optionsTable" [dataFilter]="this.dataFilter"
                (emitSelectRow)="this.selectUser($event)">
              </app-table>
            </div>

          </mat-drawer-content>
        </mat-drawer-container>
      </div>
    </div>
  </div>
</div>