<div class="flex flex-col w-full sm:pl-6">
  <div class="bg-card shadow rounded-2xl min-h-auto">
    <div class="w-full h-20 flex justify-between items-center px-2 pt-4 sm:px-12 border-b-2">
      <h2 class="text-2xl font-semibold tracking-tight leading-8">{{'commands.formPage.titlePage' | transloco}}
      </h2>
      <button mat-icon-button [matTooltip]="'buttons.buttonClose' | transloco" (click)="this.emitCloseForm.emit();">
        <mat-icon class="text-gray-400" svgIcon="heroicons_outline:x"></mat-icon>
      </button>
    </div>

    <div class="relative flex flex-col flex-auto items-center px-2 py-1 sm:px-12 sm:py-3">
      <div class="w-full max-w-3xl">
        <form [formGroup]="this.formCommands" (ngSubmit)="this.sendCommand()" class="flex flex-col gap-3 mt-2">
          <mat-tab-group (selectedTabChange)="selectTab($event)" animationDuration="500ms">
            <mat-tab [label]="'commands.tabPage.vehicle' | transloco">
              <app-multi-select-filter [form]="this.formCommands" [placeholder]="'commands.formPage.fieldVehiculos'"
                [options]="{data:this.mobilesData, key:'plate', keyView:'plate'}" labelControl="plates">
              </app-multi-select-filter>
            </mat-tab>
            <mat-tab [label]="'commands.tabPage.fleet' | transloco">
              <app-multi-select-filter [required]="false" [form]="this.formCommands"
                [placeholder]="'commands.formPage.fieldFleets'"
                [options]="{data:this.fleetsData, key:'id', keyView:'name'}" labelControl="fleets">
              </app-multi-select-filter>
            </mat-tab>
          </mat-tab-group>


          <div class="px-2 flex flex-col gap-2">
            <p class="text-xl font-medium tracking-tight leading-6 truncate">
              {{'commands.formPage.commandSelection' | transloco}}
            </p>
            <mat-form-field class="fuse-mat-dense w-full">
              <mat-select formControlName="typeCommandId">
                <mat-option *ngFor="let command of typeCommands" [value]="command.id">
                  {{command.description_command}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="flex justify-end">
            <button class="fuse-mat-button-rounded" mat-flat-button color="accent"
              [disabled]="!this.formCommands.valid">
              <mat-icon class="icon-size-5">send</mat-icon>
              <span class="ml-2">
                {{'commands.formPage.sendCommandButton' | transloco}}
              </span>
            </button>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>